<mat-drawer-container style="height: 100%; background-color: blueviolet;" class="container-fluid" >
    <mat-drawer style="width: 15%;" mode="side" opened>
      <mat-list class="sidenav">
        <nav>
          <mat-list-item>
            <a routerLink="home" routerLinkActive="active">
              <button type="button" mat-button>Home</button>
            </a>
          </mat-list-item>
  
          <mat-divider></mat-divider>
  
          <mat-list-item>
  
            <a routerLink="Employees">
              <button type="button" mat-button>EMPLOYEES</button>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="Devices">
              <button type="button" mat-button>DEVICES</button>
            </a>
  
          </mat-list-item>
        </nav>
      </mat-list>
    </mat-drawer>
  
    <mat-drawer-content class="container-fluid">
  
      <router-outlet></router-outlet>
  
    </mat-drawer-content>
  </mat-drawer-container>